#tabla {
    font-size: 16px;
    width: 100%;
    // margin: 0px;
    // overflow: auto;
    // padding: 10px;
    // box-sizing: border-box;
    // margin: auto;
    thead {
      color: whitesmoke;
      // letter-spacing: 2px;
      width: 100%;
      padding: 10px;
      
      tr {
        background: #6f1e86;
        width: 100%;
        
        th {
          width: 22%;
          padding: 10px 20px;
          /* width: 21%; */
          font-weight: normal;
          height: 30px;
          overflow: hidden;
          border: solid 1px #86309e !important;
        }
        /* .campoNombre{
          width: 90px;
        } */
      }
    }
    tbody {
      tr {
        td {
          padding: 5px 5px;
          text-align: left;
          font-size: 14px;
          cursor: pointer;
          border: solid 1px #e9e9e9;
          // vertical-align: -webkit-baseline-middle !important;
        }
        .tdAling{
          text-align: left;
        }
        .campoNombre{
          width: 90px;
        }
      }
    }
  }

 .btn-group{

 }

 .dataTables_wrapper{
  .dataTables_filter{
    input{
      // display: none !important;
    }
  } 
 } 
 .example_filter{
   label{
     
   }
 }
  // .btn-group,.btn-group-vertical{
  //   position: absolute !important;
  // }