#Contenedor_Loader{
    background-color: rgba(27, 2, 27, 0.6);
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    transition: all 1s ease;
    z-index: 99999;
    #loader{
        margin: auto;
        box-sizing: border-box;
        border: 15px solid rgb(255, 255, 255);
        border-top: 15px solid darkmagenta;
        border-top-style: groove;
        height: 100px;
        width: 100px;
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: girar 1s linear infinite;
    }
}
@keyframes girar{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}

}