* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
}

.contenedorProspecto {
  background-color: #ede7f6;
}

.contenedorProspecto .contenThemePorspecto {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #fff;
  padding: 10px 0px;
}

.contenedorProspecto .contenThemePorspecto h2 {
  color: #7b3090;
  font-weight: bold;
  padding: 5px;
}

.contenedorProspecto .contenThemePorspecto div div img {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.contenedorProspecto .contenThemePorspecto div .contenedor-datosEvento {
  position: fixed;
  left: 25%;
  z-index: 5;
  bottom: 10%;
  width: 200px;
}

.contenedorProspecto .contenThemePorspecto div .contenedor-datosEvento .img_expositor {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.contenedorProspecto .contenedorFormProspecto {
  position: relative;
  margin-left: 42%;
  padding: 0px;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .row {
  width: 100%;
  padding: 0px;
  margin: 10px 0px 0px 0px;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .row .contenGeneralImg {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .row .contenGeneralImg .contenImg {
  width: 100%;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .row .contenGeneralImg .contenImg img {
  width: 100%;
  margin: 0px;
  border: solid 1px #a3a2a2;
  border-radius: 8px;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .contenGeneralInfo {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: solid 10px #7b3090;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .contenGeneralInfo .contenInfoEvento .titulo_evento {
  font-size: 32px;
  font-weight: 400;
  color: #202124;
  margin-bottom: 3px;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .contenGeneralInfo .contenInfoEvento .DescripcionEvento {
  white-space: pre-line;
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #202124;
  margin-top: 0px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .contenedorProspecto .contenedorFormProspecto .contenedor_formulario .contenGeneralInfo .contenInfoEvento .titulo_evento {
    font-size: 21px;
  }
  .contenedorProspecto .contenedorFormProspecto .contenedor_formulario .contenGeneralInfo .contenInfoEvento .DescripcionEvento {
    font-size: 13px;
  }
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja {
  margin-top: 10px;
  border: 1px solid #ccc;
  border-top: solid 1px #457992;
  background-color: white;
  border-radius: 8px;
  padding: 20px 15px;
  width: 100%;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja div input {
  border: none;
  outline: none;
  border-bottom: 1px solid #adadad;
  width: 50%;
  padding: 5px;
  font-size: 14px;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja input[type="number"]::-webkit-inner-spin-button,
.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja input:focus {
  border-bottom: 2px solid #7b3090;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja span {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: #555555;
  font-weight: 400;
  width: auto;
  word-break: break-word;
  margin-bottom: 5px;
  display: block;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .inputErrpor {
  border-bottom: solid 2px #DC3545;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .inputExito {
  border-bottom: solid 2px #28A745;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .comboError {
  border: solid 10px #DC3545;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .comboExito {
  border: solid 10px #28A745;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .mensaje {
  font-size: 12px;
  margin-top: -10px;
  margin-left: 10px;
  display: none;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .mensaje-exito {
  display: none;
  background-color: #28A745;
  
}
.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .mensaje-exitoCorreo {
  display: block;
  color: #28A745;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .mensaje-error {
  display: block;
  color: #DC3545;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .datosPersonales {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .datosPersonales input {
  width: 90%;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .datosPersonales select {
  border: none;
  border: 1px solid #adadad;
  border-radius: 2px;
  outline: none;
  width: 80%;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .datosPersonales .CodigoPais {
  border-bottom: 1px solid #adadad;
  padding: 5px 0px;
  font-size: 14px;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .datosPersonales #txtNumCelular {
  width: 50%;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .ContenRadios {
  display: block;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .ContenRadios .contenChecks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .ContenRadios .contenChecks .cheks {
  width: 40px;
  height: 15px;
  display: block;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .ContenRadios .contenChecks label {
  display: block;
  text-align: left;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja {
    padding: 20px 10px;
  }
  .contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .formulario__grupo-input {
    margin: 0px;
    padding: 0px;
  }
  .contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .formulario__grupo-input input {
    width: 90%;
  }
  .contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja div {
    padding: 0px;
  }
  .contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .datosPersonales {
    margin: 0px;
    width: 100%;
    padding: 0px;
  }
  .contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .datosPersonales .formulario__grupo-input {
    margin: 0px;
    padding: 0px;
  }
  .contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .datosPersonales .formulario__grupo-input #txtNumCelular {
    width: 100%;
  }
  .contenedorProspecto .contenedorFormProspecto .contenedor_formulario .divCaja .datosPersonales .formulario__grupo-input input {
    width: 90%;
  }
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .icon-estado {
  color: #DC3545;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .OtraRespuesta {
  display: none;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .OtraRespuesta-activo {
  display: block;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .datoscorrecto .formulario__validacion-estado {
  color: #28A745;
  opacity: 1;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .datoscorrecto .icon-estado {
  color: #28A745;
  opacity: 1;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .formulario__input-error-activo {
  display: block;
  color: #DC3545;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .datoscorrecto .OtraRespuesta-activo {
  display: block;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .datosIncorrectos .formulario__validacion-estado {
  color: #DC3545;
  opacity: 1;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .Seeeeee {
  background-color: #28A745;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .datosIncorrectos .icon-estado {
  color: #DC3545;
  opacity: 1;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .contenBoton {
  text-align: center;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .contenBoton .subContenBoton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .contenBoton .subContenBoton #btn_guardar {
  display: block;
  padding: 5px 40px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: -webkit-gradient(linear, left top, right top, from(#7b3090), color-stop(#1e73be), to(#7b3090));
  background-image: linear-gradient(to right, #7b3090, #1e73be, #7b3090);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .contenBoton .subContenBoton #btn_guardar:hover {
  background-position: right;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .contenBoton .respuestaOk {
  display: block;
  color: #0dad0d;
  width: 100%;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  background: rgba(0, 255, 0, 0.1);
  margin-bottom: 20px;
}

.contenedorProspecto .contenedorFormProspecto .contenedor_formulario .contenBoton .respuestaError {
  display: block;
  color: #dd0606;
  font-size: 16px;
  padding: 5px;
  display: none;
  width: 100%;
  text-align: center;
  background: rgba(255, 1, 1, 0.1);
  margin-bottom: 20px;
}

@media screen and (max-width: 1050px) {
  .contenedorProspecto .contenedorFormProspecto {
    margin-left: 40%;
  }
}

@media screen and (max-width: 950px) {
  .contenedorProspecto .contenedorFormProspecto {
    margin-left: 0px;
  }
  #formulario__mensaje{
      font-size: 10px;
  }
  #labelTerminos{
      font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .contenedorProspecto .contenedorFormProspecto {
    margin-left: 0px;
  }
  #formulario_mensaje{
      font-size: 10px;
  }
}

@media screen and (max-width: 667px) {
  .contenedorProspecto .contenedorFormProspecto {
    margin-left: 0px;
  }
}

.bodyGracias {
  background-color: #EDE7F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bodyGracias .contenGracias {
  margin: auto;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10%;
}

.bodyGracias .contenGracias h1 {
  color: #AE1DFF;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 40px;
}

.bodyGracias .contenGracias h4 {
  color: #156BF4;
}

.bodyGracias .contenGracias h5, .bodyGracias .contenGracias p {
  color: #668fd1;
}

@media screen and (max-width: 768px) {
  .bodyGracias .contenGracias h1 {
    font-size: 30px;
  }
  .bodyGracias .contenGracias h4 {
    font-size: 20px;
  }
  .bodyGracias .contenGracias h5, .bodyGracias .contenGracias p {
    font-size: 14px;
  }
}

@media screen and (max-width: 668px) {
  .bodyGracias .contenGracias h1 {
    font-size: 30px;
  }
  .bodyGracias .contenGracias h4 {
    font-size: 20px;
  }
  .bodyGracias .contenGracias h5, .bodyGracias .contenGracias p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=estilos_formProspecto.css.map */